################################################################################
# UiPath Studio recommended ignore rules (extended)
################################################################################
.local/

.objects/
.screenshots/
.settings/
.storage/
.tmh/
.project/
.templates/
.entities/

*.log

*.nupkg


# ignore all Excel files
*.xlsx
*.xls

# BUT allow config file
!Config.xlsx

# This folder is automatically regenerated at each execution and stores the generated Excel files (OLX.xlsx, Imobiliare.xlsx, Storia.xlsx)
ScrapedData/


*.csv
*.txt

*.local
*.backup

Thumbs.db
Desktop.ini

~$*
*.tmp
*.temp
