################################################################################
# UiPath Studio recommended ignore rules (extended)
################################################################################
.local/

.objects/
.screenshots/
.settings/
.storage/
.tmh/
.project/
.templates/
.entities/

*.log

*.nupkg

*.local
*.backup

Thumbs.db
Desktop.ini

~$*
*.tmp
*.temp
